.wrapper {
    position: relative;

    .btn-show-close {
        cursor: pointer;
        box-sizing: border-box;
        position: absolute;
        width: 28px;
        height: 28px;
        right: -14px;
        top: 32px;
        z-index: 200;

        background: #FFFFFF;
        border: 1px solid #B6BCC3;
        background-image: url('/assets/img/partner/menu/arrow.svg');
        background-repeat: no-repeat;
        background-position: 41% center;
        border-radius: 999px;
        transition: transform .5s;
    }

    &.close {
        .btn-show-close {
            transform: rotate(180deg);
        }
    }

    .partner-nav {
        width: 276px;
        background: rgba(26, 48, 75, 1);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        transition: width .5s;
        padding: 0 22px;
        box-sizing: border-box;
        z-index: 10;
        overflow-x: hidden;

        &.close {
            width: 86px;
        }


        & .logo {
            margin-top: 32px;
            width: 100%;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(2.5);

            &>img {
                height: 100%;
            }
        }

        nav {
            margin-top: 61px;
        }

    }

}