@import "@/mixins.scss";

.wrapper {
    padding: 20px 16px;

    @include tablets() {
        padding: 56px 40px;
    }

}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #0B1F35;

    @include tablets() {
        font-size: 30px;
    }
}