.info_icon {
    cursor: pointer;
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    cursor: pointer;
    background-image: url('/assets/img/partner/profile/info-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}