@import "@/mixins.scss";

.show_modal {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #EF3124;
    margin-right: 16px;
    text-decoration: none;
    margin-bottom: 20px;

    &:hover {
        color: darken(#EF3124, 10%);
    }

}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;

    margin-bottom: 0;
    border-radius: 0 !important;

    @include phones {
        border-radius: 12px !important;
        padding: 32px;
        margin-bottom: auto;
    }

    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-sizing: content-box;

        .title {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 0;
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        display: flex;
        box-sizing: content-box;
        margin: 28px 0;

        &>.sub_title {
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: var(--bs-red);
            margin: 8px 0 28px;

            @include phones {
                color: var(--bs-light-gray);
            }
        }

        &>.input_wrapper {
            flex-direction: column;
        }

    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        display: flex;
        box-sizing: content-box;
        flex-direction: column;

        .btn {
            min-height: 48px;
            width: 100% !important;
        }

        .btn:first-of-type {
            margin-bottom: 10px;
        }

        .btn:disabled {
            &:active {
                transform: scale(1);
            }

            cursor: not-allowed !important;

        }

        @include phones() {
            flex-direction: row;

            button {
                max-width: 199px;
                min-height: 56px;
            }

            button:first-of-type {
                margin-bottom: 0px;
            }

            &.btn {
                width: 199px;
                cursor: not-allowed;
            }
        }
    }
}