.partner-profile-header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 32px;

    &>h1 {
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #0B1F35;
    }

    .link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #EF3124;
        text-decoration: none;
        margin-left: 32px;
        &:hover {
            color: #ef3224af;
        }
    }
}