@import "@/mixins.scss";

.links {
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    @include tablets() {
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    &>.link {
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: flex-start;
        color: #EF3124;
        margin-right: 16px;
        text-decoration: none;
        margin-bottom: 20px;

        &:hover {
            color: darken(#EF3124, 10%);
        }
    }
}