@import "@/mixins.scss";

.body-form {

    width: 100%;
    border: 1px solid transparent;


    @include tablets() {
        padding: 36px;
        border: 1px solid #DBDEE1;
        border-radius: 12px;
    }

    .input {
        margin-bottom: 16px;

        @include tablets() {
            margin-bottom: 20px;
        }

    }
}