@import '@/mixins';

.wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #fff;

    &>.header {
        width: 100%;
        padding: 44px 20px 0;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        &>.title {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            color: #0B1F35;
        }
    }
}